<div class="container-lg px-5 px-sm-0">
  <h2 class="m-3">投稿一覧</h2>
  <div class="row">
    <div class="col-sm-11 col-md-5 col-lg-5 px-5 px-sm-0 m-4">
      <form onsubmit="return false;">
        <h3>マップ検索</h3>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="国名、地名" id="address">
          <button type="button" value="検索" id="map_button" class="btn btn-outline-info">検索</button>
        </div>
      </form>
      <button type="button" id="location_button" class="mt-2 btn btn-secondary">現在地周辺を探す</button>
    </div>
    <div class="col-sm-11 col-md-5 col-lg-5 px-5 px-sm-0 m-4 text-center">
      <div>
        <i>
          ～～楽しい旅行を犯罪被害で台無しにしないために～～<br><br>
          旅行を予定している国、地域周辺の投稿で下調べしよう！<br>
          観光地でも油断は禁物です！！
        </i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px- px-sm-0 mx-2">
      <div id='map'></div>
    </div>
  </div>
</div>


<style>
    #map {
        height: 600px;
        width: 100%;
    }
</style>

<%= render 'map', maps: @maps %>




