
.top-image{
  background-image: image-url('bad_image.jpg');
  buckground-size: cover;
  background-position: bottom;
}
.top-content{
  background-color: rgba(0,0,0,0.5);
}
.top-link{
  background-color: rgba(255,255,255,0.8);
}